@keyframes wave {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 0%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
  
  .group-hover\:animate-wave {
    animation: wave 2s ease-in-out infinite;
  }
  
  .group-hover\:opacity-50 {
    opacity: 0.5; /* Bright light effect on hover */
  }
  